<div class = "bootstrap-wrapper">
  <div class = "container">
    <div class = "row" style = "margin-top : 20px;">
      <div class = "col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/images/registrar.png" width = "200" height = "200">
          </div>

          <h1 class="text-center">Registrate aqui</h1>

        <form (ngSubmit) = "formSubmit()">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre de Usuario</mat-label>
            <input required [(ngModel)] = "user.username" name = "username" matInput placeholder="Digite su nombre de Usuario">

          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Password</mat-label>
            <input required [(ngModel)] = "user.password" name = "password" type="password" matInput placeholder="Digite su Contraseña">
          </mat-form-field>

          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input required [(ngModel)] = "user.emailUsuario" name = "email" type="email" matInput placeholder="Digite su Correo Electrónico">
          </mat-form-field>

          <div class = "justify-content-end">
            <button mat-raised-button color="primary">Registrar</button>
            <button type="reset" style = "margin-left: 10px;" mat-raised-button color="warn">Limpiar</button>&nbsp;
            <br><br>
          </div>

        </form>
        </mat-card>
        <br><br><br>
      </div>
    </div>
  </div>
</div>
