<mat-toolbar color="warn">
  <a [routerLink]="'/'"
     mat-icon-button class="example-icon" arial-label="Example icon-button with menu icon">
    <mat-icon>handshake</mat-icon>
  </a>
  <span>HireLink</span>

  <span class="example-spacer"></span>

  <a [routerLink]="'/login'"
     mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>person</mat-icon>
  </a>


  <a [routerLink]="'/registrar'"
     mat-icon-button class="example-icon favorite-icon mr5 ml10" aria-label="Example icon-button with heart icon">
    <mat-icon>person_add</mat-icon>
  </a>


  <a mat-icon-button class="example-icon favorite-icon mr5 ml10" aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </a>


</mat-toolbar>
