<mat-toolbar color="warn">
  <a [routerLink]="'/'"
     mat-icon-button class="example-icon" arial-label="Example icon-button with menu icon" matTooltip="Ir a inicio">
    <mat-icon>handshake</mat-icon>
  </a>
  <span>HireLink</span>
  <a [routerLink]="'/empresas'" style="margin-right: 70px" mat-icon-button class="example-icon" arial-label="Example icon-button with menu icon" matTooltip="Ver empresas">
    <span>Empresas</span>
  </a>
  <a [routerLink]="'/ofertas'" mat-icon-button class="example-icon" arial-label="Example icon-button with menu icon" matTooltip="Ver ofertas">
    <span>Ofertas</span>
  </a>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>

  <a *ngIf = "!isLoggedIn"
     [routerLink]="'/login'"
     mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" matTooltip="Iniciar sesión">
    <mat-icon>person</mat-icon>
  </a>


  <a *ngIf = "!isLoggedIn"
     [routerLink]="'/registrar'"
     mat-icon-button class="example-icon favorite-icon mr5 ml10" aria-label="Example icon-button with heart icon" matTooltip="Registrar">
    <mat-icon>person_add</mat-icon>
  </a>


  <button
    *ngIf = "isLoggedIn && user"
    mat-button
    style="margin-right: 10px"
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    [routerLink] = "'/admin/profile'"
  >
    @{{ user.username }}
  </button>

  <a *ngIf = "isLoggedIn"
     (click) = "logout()"
     style="margin-right: 30px"
     mat-icon-button class="example-icon favorite-icon mr5 ml10" aria-label="Example icon-button with heart icon" matTooltip="Cerrar sesión">
    <mat-icon>logout</mat-icon>
  </a>

</mat-toolbar>
