<h1 class="text-center">BIENVENIDO AL PANEL DE INVITADO</h1>


<div class="container">
    <div class="card bg-light mb-3">
        <!-- style="max-width: 18rem;" -->
        <div class="card-header">Gestion de usuario</div>
        <div class="card-body">
            <h5 class="card-title">Complete su Aspirante</h5>
            <div class="row">
                <div class="col mb-1"><button type="button" class="btn btn-outline-primary">


    <a [routerLink]="'/infoAspi'">
      Informacion Personal
  </a>

                  </button></div>
                <div class="col mb-1"><button type="button" class="btn btn-outline-secondary">Conocimiento Academico</button></div>
                <div class="col mb-1"><button type="button" class="btn btn-outline-success">Certificaciones</button></div>
            </div>
            <div class="row">
                <div class="col mb-1"><button type="button" class="btn btn-outline-danger">Habilidades</button></div>
                <div class="col mb-1"><button type="button" class="btn btn-outline-warning">Actividad Adicional</button></div>
                <div class="col mb-1"><button type="button" class="btn btn-outline-info">Referencia</button></div>
            </div>
        </div>
    </div>

</div>